{{define "header"}}
    <div class="flex columns-3">
        <div class="flex grow">
            <div class="flex flex-auto">
                <div class="flex max-sm:w-11/12 sm:w-7/12">
                    <input class="w-full input max-sm:input-sm input-bordered bg-neutral join-item grow" placeholder="Search"/>                
                    <button class="btn max-sm:btn-sm btn-outline btn-square bg-neutral border-base-200 hover:bg-base-300 hover:text-base-content">
                        <svg class="sm:h-6 sm:w-6 max-sm:h-4 max-sm:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div 
            class="flex flex-shrink"
            hx-get="/insert_view"
            hx-trigger="click"
            hx-target="#main"
        >
            <div class="avatar placeholder sm:h-12 sm:w-12 max-sm:h-8 max-sm:w-8">
                <div class="cursor-pointer bg-neutral border-base-200 hover:bg-base-300 hover:text-base-content rounded-full border-2">
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="flex order-last">
            <div class="avatar placeholder sm:h-12 sm:w-12 max-sm:h-8 max-sm:w-8">
                <div class="cursor-pointer bg-neutral border-base-200 hover:bg-base-300 hover:text-base-content rounded-full border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="sm:h-6 sm:w-6 max-sm:h-4 max-sm:w-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>                      
                </div>
            </div>
        </div>
    </div>
    <br>
</header>
{{end}}