<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=800px, initial-scale=1.5">
    <title>Hello World</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="/js/htmx.min.js"></script>
</head>
<body>
    <div class="flex flex-col h-screen">
        {{template "header"}}
        <p>Ejemplo de unos gatos</p>
        <main class="mb-auto">
            <table class="table">
                {{range .}}
                <tr>
                    <td>Nombre: {{.Name}}</td>
                    <td>Sexo: {{.Sex}}</td>
                    <td>Edad: {{.Age}}</td>
                </tr>
                {{end}}
            </table>
            <button class="btn btn-primary">Button</button>
        </main>
        {{template "footer"}}
    </div>
</body>
</html>
